@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,700,400,600,300,500&display=swap");

body{
    overflow: hidden;
    font-family: 'Clash Grotesk', sans-serif;
}

.banner {
    position: absolute;
    background: url(../img/banner.jpg);
    background-size: cover;
    z-index: -1;
    margin: auto;
    height: 105%;
    width: 110%;
    top: -20px;
    left: -20px;
}
